html {
    background-color: #323232;
}


h1{
    color: #FFCA00;
    font-size: 50px;
}
h2{
    color: #FFCA00;
    font-size: 35px;
    padding-left: 50px;
}
.centrame {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.subtitulo{
    text-align: center;
    text-align: justify;
    color: #eeeeee;
    padding-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
    font-size: 24px;
}
   
.boton__acordeon {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: #FFCA00 ;
    color: #2a2f3d;
    text-align: center;
    font-size: 30px;
    transition: .2s;  
}
.boton__acordeon::after{
    content:'\25be';
    float: right;
    transform: scale(1.5);
}
.boton__acordeon--activo + .contenido__acordeon {display: block;}
.boton__acordeon--activo{ background: #ffde5b}
.boton__acordeon--activo::after{content: '\25b4'}
   
.contenido__acordeon{
    padding: 0 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    /* align-items: baseline; */
    background: #ffde5b;
   
    display: none;
    text-align: center;
    overflow: auto;
}
   
form{
    background-color: white;
    border-radius: 3px;
    color: #999;
    font-size: 0.8em;
    padding: 20px;
    margin: 0 auto;
    width: 300px;
}

input, textarea{
    border: 0;
    outline: none;
    width: 280px;
}
   
.field{
    border: solid 1px #ccc;
    padding: 10px;
    font-size: medium;
}
   
.field:focus{
    border-color: #FF5733;
    background-color: #c3e0fce1;
    box-shadow: 0px 0px 2px 1px #FF5733;
}
.boton{
    background: rgb(248, 115, 6);
    color: rgb(255, 253, 253);
    font-size: 25pt;
    font-weight: bolder;
    height: 30px;
    width: 350px;
    cursor: pointer;
    align-content: center;
}
.right-content{
    text-align: right;
}

a {
    color: black;
}

#contacto_titulo {
    background-color: #323232;
}

#contacto {
    color: white;
}


@media screen and (max-width: 768px) {
    .centrame {
        width: 100% !important;
        height: auto !important;
    }
}